@import "tailwindcss";

@theme {
    --color-black:#060D16;
    --color-blue: #408BFF;
    --color-light-blue: #F0F2F6;
    --color-dark-gray: #5E697A;
    --color-gray: #8F9DB4;
    --color-white: #FFFFFF;
    --color-orange: #F26A00;

    --font-manrope: "Manrope", system-ui, -apple-system, Segoe UI, Roboto, Arial;

    --text-mb-title-size: 40px;
    --text-mb-title-weight: 700;
    --text-mb-title-line-height: 110%;

    --text-lg-title-size: 66px;
    --text-lg-title-line-height: 100%;

    --text-mb-h1-size: 36px;
    --text-mb-h1-weight: 800;
    --text-mb-h1-line-height: 110%;

    --text-lg-h1-size: 56px;

    --text-mb-h2-size: 32px;
    --text-mb-h2-weight: 700;
    --text-mb-h2-line-height: 130%;
    --text-mb-h2-case: uppercase;

    --text-lg-h2-size: 48px;

    --text-mb-h3-size: 27px;
    --text-mb-h3-weight: 700;
    --text-mb-h3-line-height: 110%;

    --text-lg-h3-size: 36px;

    --text-mb-h4-size: 24px;
    --text-mb-h4-weight: 700;
    --text-mb-h4-line-height: 110%;

    --text-lg-h4-size: 28px;

    --text-mb-h5-size: 21px;
    --text-mb-h5-weight: 400;
    --text-mb-h5-line-height: 150%;

    --text-lg-h5-size: 24px;

    --text-mb-h6-size: 20px;
    --text-mb-h6-weight: 500;
    --text-mb-h6-line-height: 130%;

    --text-lg-h6-size: 21px;

    --text-p1-size: 19px;
    --text-p1-weight: 500;
    --text-p1-line-height: 140%;

    --text-p1_semiBold-size: 19px;
    --text-p1_semiBold-weight: 600;
    --text-p1_semiBold-line-height: 130%;

    --text-p1_Bold-size: 19px;
    --text-p1_Bold-weight: 700;
    --text-p1_Bold-line-height: 130%;
    --text-p1_Bold-case: uppercase;

    --text-p2-size: 16px;
    --text-p2-weight: 500;
    --text-p2-line-height: 150%;

    --text-p2_semiBold-size: 16px;
    --text-p2_semiBold-weight: 600;
    --text-p2_semiBold-line-height: 100%;

    --text-p3-size: 14px;
    --text-p3-weight: 600;
    --text-p3-line-height: normal;
    --text-p3-case: uppercase;
}

@layer base {
    html, body {
        font-family: var(--font-manrope), sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: var(--color-white);
        color: var(--color-dark-gray);
        scroll-behavior: smooth;
        position: relative;
    }
}

@utility text-title {
   font-size: var(--text-mb-title-size) ;
   font-weight: var(--text-mb-title-weight) ;
   line-height: var(--text-mb-title-line-height) ;

    @variant md {
        font-size: var(--text-lg-title-size);
        line-height: var(--text-lg-title-line-height);
    }
}

@utility text-h1 {
    font-size: var(--text-mb-h1-size) ;
    font-weight: var(--text-mb-h1-weight) ;
    line-height: var(--text-mb-h1-line-height) ;

    @variant md {
        font-size: var(--text-lg-h1-size);
    }
}

@utility text-h2 {
    font-size: var(--text-mb-h2-size) ;
    font-weight: var(--text-mb-h2-weight) ;
    line-height: var(--text-mb-h2-line-height) ;
    text-transform: var(--text-mb-h2-case);

    @variant md {
        font-size: var(--text-lg-h2-size);
    }
}

@utility text-h3 {
    font-size: var(--text-mb-h3-size) ;
    font-weight: var(--text-mb-h3-weight) ;
    line-height: var(--text-mb-h3-line-height) ;

    @variant md {
        font-size: var(--text-lg-h3-size);
    }
}


@utility text-h4 {
    font-size: var(--text-mb-h4-size) ;
    font-weight: var(--text-mb-h4-weight) ;
    line-height: var(--text-mb-h4-line-height) ;

    @variant md {
        font-size: var(--text-lg-h4-size);
    }
}

@utility text-h5 {
    font-size: var(--text-mb-h5-size) ;
    font-weight: var(--text-mb-h5-weight) ;
    line-height: var(--text-mb-h5-line-height) ;

    @variant md {
        font-size: var(--text-lg-h5-size);
    }
}

@utility text-h6 {
    font-size: var(--text-mb-h6-size) ;
    font-weight: var(--text-mb-h6-weight) ;
    line-height: var(--text-mb-h6-line-height) ;

    @variant md {
        font-size: var(--text-lg-h6-size);
    }
}

@utility text-p1 {
    font-size: var(--text-p1-size) ;
    font-weight: var(--text-p1-weight) ;
    line-height: var(--text-p1-line-height) ;
}

@utility text-p1-semiBold {
    font-size: var(--text-p1_semiBold-size) ;
    font-weight: var(--text-p1_semiBold-weight) ;
    line-height: var(--text-p1_semiBold-line-height) ;
}

@utility text-p1-Bold {
    font-size: var(--text-p1_Bold-size) ;
    font-weight: var(--text-p1_Bold-weight) ;
    line-height: var(--text-p1_Bold-line-height) ;
    text-transform: var(--text-p1_Bold-case);
}

@utility text-p2 {
    font-size: var(--text-p2-size) ;
    font-weight: var(--text-p2-weight) ;
    line-height: var(--text-p2-line-height) ;
}

@utility text-p2-semiBold {
    font-size: var(--text-p2_semiBold-size) ;
    font-weight: var(--text-p2_semiBold-weight) ;
    line-height: var(--text-p2_semiBold-line-height) ;
}

@utility text-p3 {
    font-size: var(--text-p3-size) ;
    font-weight: var(--text-p3-weight) ;
    line-height: var(--text-p3-line-height) ;
    text-transform: var(--text-p3-case);
}

/*SECTION PADDING*/
@utility section-x {
    @apply px-3 md:px-10 lg:px-20;
}

@utility section-y {
    @apply py-12 md:py-14 lg:py-20;
}

/* LINEAR GRADIENT */
@utility gradient {
    @apply absolute inset-x-0 bottom-0 h-40 bg-[linear-gradient(0deg,rgba(28,32,25,0.80)_0%,rgba(28,32,25,0.00)_100%)]
}

/* HOVERS */
@utility link-hover {
    @apply hover:text-[var(--color-blue)] active:text-[var(--color-blue)] focus-visible:text-[var(--color-blue)] transition-colors duration-200
}

/* BUTTON */
@utility button-base {
    @apply inline-flex items-center justify-center gap-2 rounded-[10px] text-p2 transition-colors duration-200 cursor-pointer
}

@utility button-primary {
    @apply py-4 px-8 bg-[var(--color-blue)] text-p1 text-[var(--color-white)] hover:bg-[var(--color-black)] active:bg-[var(--color-black)] border-none
           disabled:bg-[var(--color-gray)] disabled:cursor-not-allowed
}

@utility button-primaryOutlined {
    @apply py-4 px-8 border border-[var(--color-blue)] text-p1 text-[var(--color-blue)] bg-transparent hover:border-[var(--color-black)] hover:text-[var(--color-black)]
           active:border-[var(--color-black)] active:text-[var(--color-black)] disabled:border-[var(--color-gray)] disabled:cursor-not-allowed disabled:text-[var(--color-gray)]
}

@utility button-secondary {
    @apply px-5 py-3 text-p2 bg-transparent border border-[var(--color-blue)] text-[var(--color-blue)] hover:border-[var(--color-black)] hover:text-[var(--color-black)]
           active:border-[var(--color-black)] active:text-[var(--color-black)] disabled:border-[var(--color-gray)] disabled:cursor-not-allowed disabled:text-[var(--color-gray)]
}

@utility footer-hover-primary {
    @apply hover:bg-[var(--color-white)] active:bg-[var(--color-white)] hover:text-[var(--color-blue)] active:text-[var(--color-blue)]
}

@utility footer-hover-primaryOutlined {
    @apply hover:border-[var(--color-white)] active:border-[var(--color-white)] hover:text-[var(--color-white)] active:text-[var(--color-white)]
}

/* LOCATION CARD (PAYMENT CARD) */
@utility card-hover {
    @apply border border-transparent hover:border-[var(--color-orange)] active:border-[var(--color-orange)]
         focus-within:border-[var(--color-orange)] group-hover:border-[var(--color-orange)] group-active:border-[var(--color-orange)]
         group-focus-within:border-[var(--color-orange)] transition-colors duration-200;
}

@utility card-dark-hover {
    @apply border-[var(--color-orange)] hover:border-[var(--color-black)] active:border-[var(--color-black)] transition-colors duration-200
}

@utility popularity-hover {
    @apply group-hover:bg-[var(--color-black)] group-active:bg-[var(--color-black)]
           group-focus-within:bg-[var(--color-black)] transition-colors duration-200;
}

/* MAPBOX */
@utility map-marker {
    @apply w-4 h-4 rounded-full bg-[var(--color-orange)] border-2 border-[var(--color-white)] shrink-0
}

/* FORM */
@utility form-input {
    @apply bg-[var(--color-light-blue)] py-4 px-6 rounded-3xl text-p2 focus:outline-none focus:ring-0
           text-[var(--color-dark-gray)] placeholder:text-[var(--color-gray)] transition-all duration-200 ease-in-out;
}

@utility form-radio {
    @apply w-6 h-6 accent-[var(--color-dark-gray)] cursor-pointer
}

@utility form-label {
    @apply text-p1 text-[var(--color-black)]
}

@utility form-choice {
    @apply w-full lg:w-1/2 flex flex-col lg:flex-row gap-3 items-center justify-center py-8 px-14 cursor-pointer
}

@utility blue-circle {
    @apply w-4 h-4 rounded-full border
}

@utility radio-position {
    @apply flex gap-4 items-center
}

@utility form-field {
    @apply flex flex-col gap-2 mb-6
}

@utility form-checkbox {
    @apply border border-[var(--color-black)] rounded flex items-center justify-center [&>img]:opacity-0 peer-checked:[&>img]:opacity-100 aspect-square
}

@utility error-message {
    @apply text-p2 text-[var(--color-white)] bg-[var(--color-dark-gray)] flex items-center justify-start gap-3 py-2 px-4 rounded-3xl mt-4
}